.footer
  .footer__top
    = link_to "このサイトについて", blogs_footer_index_path, class: "footer__top__info" 
    = link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLScle6VcFfqNfmk58P737Lqf1h-mj60QnoBIlwKozmpxHPdmnw/viewform?usp=sf_link", class: "footer__top__contact" 
    = link_to "プライバシーポリシー", policy_index_blogs_footer_index_path, class: "footer__top__policy" 
  .footer__bottom
    %small.footer__bottom__copyright
      &copy;EngineerBlogs.map!