.footer
  %p.footer__about
    ABOUT
  %p.footer__body
    様々な情報が手に入るようになった反面、個々の情報への繋がりが希薄になっています。
    %br
    ブログはその最たるもので、たまたま目にする機会があってもそれっきりな事も多いです。
    %br
    あなたとブログを繋げる機会を提供できればと、このサイトを作成しました。
  %small.footer__copyright
    &copy;Engineer.Blogs.map!