.footer
  -# %p.footer__about
  -#   ABOUT
  -# %p.footer__body
  -#   様々な情報ソースが増えた反面、個人ブログへのアクセスが減少しているのではないかと考えました。
  -#   %br
  -#   たくさんの素晴らしいブログと、皆さんを繋ぐ場を提供できればと思い、このサイトを作成しました。
  %small.footer__copyright
    &copy;Engineer.Blogs.map!