%section.top-image
  .top-image__view
    = image_tag "top_page.jpg", alt: "背景", class: "top-image__view__content"
    .top-image__view__textarea
      %p.top-image__view__textarea--upper EngineerBlogs.map!
      %p.top-image__view__textarea--bottom - 技術ブログ共有サイト -