.about
  .about__main
    %p.about__main__title
      このサイトについて
  .about__main__contents
    %p.about__main__contents--top
      このサイトは〜
    %p.about__main__contents--title
      基本的な使い方
    %p.about__main__contents--text
      閲覧は〜
    %p.about__main__contents--title
      登録方法
    %p.about__main__contents--text
      ログイン後〜