.about
  .about__main
    %p.about__main__title
      このサイトについて
    .about__main__contents
      %p.about__main__contents--top
        技術ブログの発見・共有を目的に作成したサイトです！
        %br/
        数え切れないほど存在する技術ブログの中から、自分に合ったブログをより簡単に発見し、
        %br/
        %br/
        ・ブログの閲覧者　→　各々に適したレベルのブログ閲覧による知識増加、スキル向上
        %br/
        ・ブログの執筆者　→　露出増加によるモチベーションUP、アウトプット増加
        %br/
        %br/
        上記のような好循環を生み出したいと思っています！
        これから管理人も随時ブログを共有させて頂きますが、おすすめのブログがあればぜひ共有をお願いします。
        もちろんご自身のブログの紹介も歓迎です！
      %p.about__main__contents--title
        基本的な使い方
      %p.about__main__contents--text
        【ユーザー登録無しで利用可能】
        %br/
        ・ブログ検索
        %br/
        ・ブログ詳細情報閲覧（レビュー含む）
        %br/
        ・ブログ詳細ページからブログへのジャンプ
        %br/
        ・他ユーザーの詳細ページ閲覧
        %br/
        %br/
        【ユーザー登録後に利用可能】
        %br/
        ・ブログ共有
        %br/
        ・レビュー投稿
        %br/
        ・MyBlog登録
        %br/
        ・お気に入り登録
        %br/
        ・マイページからお気に入りブログの確認（※他ユーザーからは閲覧不可）
      %p.about__main__contents--title
        MyBlog登録について
      %p.about__main__contents--text
        MyBlog登録とは、そのブログの管理者を登録する機能です。
        %br/
        サイトの仕組み上、ご自身で運営するブログを共有する前に、別のユーザーが既に共有している場合があります。そういったケースにおいて、ご自身のブログだと宣言する機能がMyBlog登録です。
        %br/
        マイページからMyBlog登録を行うと、そのブログの説明文編集や削除が行えます。MyBlog登録を行うことで、ブログを共有したユーザーの編集、削除権限が失効します。他ユーザーのご操作を防ぐため、ご自身のブログは必ずMyBlog登録をお願いします。
      %p.about__main__contents--title
        お問い合わせについて
      %p.about__main__contents--text
        お手数ですが、以下の場合はトップページ最下段からお問い合わせフォームにてご意見をお願い致します。
        %br/
        ・不適切なブログ紹介文やリンク、レビューを発見した場合
        %br/
        ・ご自身で運営するブログが、第三者にMyBlog登録されている
        %br/
        ・その他不快に感じる文面など
        %br/
        %br/
        ※当方で不適切だと判断したコンテンツは予告無く削除される場合がございますのでご了承下さい。
        %br/
        %br/
        また、ご意見やご要望などもお寄せ頂けると大変励みになります。
        %br/
        今後も継続的にアップデートしていく予定で、その際はこちらでお知らせ致します。
        %br/
        EngineerBlogs.map!をどうぞよろしくお願いします！