.policy
  .policy__main
    %p.policy__main__title
      プライバシーポリシー
    .policy__main__contents
      %p.policy__main__contents--top
        本プライバシーポリシーは、EngineerBlogs.map!（以下、「当サイト」とします。)の各種サービス（当サイトによる情報提供、各種お問合せの受付等、以下、「当サービス」とします。）において、当サイトの利用者（以下、「利用者」とします。）の個人情報もしくはそれに準ずる情報を取り扱う際に、当サイトが遵守する方針を示したものです。
      %p.policy__main__contents--title 1．基本方針
      %p.policy__main__contents--text
        当サイトは、個人情報の重要性を認識し、個人情報を保護することが社会的責務であると考え、個人情報に関する法令を遵守し、当サイトで取扱う個人情報の取得、利用、管理を適正に行います。当サイトで収集した情報は、利用目的の範囲内で適切に取り扱います。
      %p.policy__main__contents--title 2．当サイトで収集する利用者情報
      %p.policy__main__contents--text
      %ol.policy__main__contents--text
        %li
          当サイトでは、利用者が会員登録をする際に、次の情報のご提供をお願いしております。
          %ol
            %li
              ・メールアドレス
            %li
              ・パスワード
        %li
          当サイトにおいて、利用者のアクセス状況やサービスの利用方法に関する情報その他の利用端末に蓄積される情報を収集する場合があります。この情報には、以下の情報が含まれます。
          %ol
            %li
              ・アクセスログ情報
            %li
              ・Cookie
      %p.policy__main__contents--title 3．個人情報の取得と利用目的
      %p.policy__main__contents--text
      %ol.policy__main__contents--text
        %li
          当サイトは、利用者情報を、利用者本人の同意がない限り、利用目的の達成に必要な範囲を超えて利用しません。
        %li
          当サイトは、利用者情報を下記の目的の範囲内で適正に取り扱います。
          %br/
          %ul
            %li
              ・利用者の識別のため
            %li
              ・利用者登録、ご本人様確認等当サービスを実施するうえで必要な運用のため
            %li
              ・当サービスに関するご案内、お問合せ等への対応のため
            %li
              ・当サービスの停止・中止・契約の解除等、当サービスに関する通知・連絡を行うため
            %li
              ・当サービスの利用規約に違反する行為に対応するため
            %li
              ・サービスの品質向上のため
            %li
              ・サービスのご利用状況等の調査のため
      %p.policy__main__contents--title 4．利用目的の変更
      %p.policy__main__contents--text
        当サイトは、前条の利用目的を、変更前の利用目的と関連性を有すると合理的に認められる範囲内において変更することがあり、変更した場合には、当サイトにおいて、利用者に告知します。
      %p.policy__main__contents--title 5．利用者情報の取得
      %p.policy__main__contents--text
        当サイトは、偽りその他不正の手段によらず、適正に利用者情報を取得します。
      %p.policy__main__contents--title 6．利用者情報の第三者提供
      %p.policy__main__contents--text
      %ol.policy__main__contents--text
        %li
          当サイトは、利用者情報のうち、個人情報については、個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、利用者の承諾がない限り、第三者に提供することはありません。
        %li
          利用者情報の提供に当たって、個人情報保護法その他の法令が定める手続きを遵守するものとします。
        %li
          当サイトは、個人情報を用いて、個人との結びつきを排除した統計データを作成し、当該統計データを利用（第三者への提供を含む。）する場合があります。
      %p.policy__main__contents--title 7．お問い合わせ
      %p.policy__main__contents--text
        当サイトの利用者情報の取扱いに関するご意見、ご質問、苦情のお申出その他利用者情報の取扱いに関する事項は、当サイトのお問い合わせよりメールでお問い合わせください。
      %p.policy__main__contents--title 8．本ポリシーの変更
      %p.policy__main__contents--text
        当サイトは、個人情報に関して適用される日本の法令を遵守するとともに、本プライバシーポリシーの内容を適宜見直しその改善に努めます。修正された最新のプライバシーポリシーは常に本ページにて開示されます。
      %p.policy__main__contents--title 9．その他
      %p.policy__main__contents--text
        当サービスは、当サイトが管理するサービス以外のサービスへのリンクを含む場合があり、これら外部サービスにおける内容や利用者情報の保護については、当該外部サービスのプライバシーポリシーをご確認ください。
        %br/
        【2020年6月12日制定】
