.policy
  .policy__main
    %p.policy__main__title
      プライバシーポリシー
    .policy__main__contents
      %p.policy__main__contents--top
        EngineerBlogs.map!運営事務局 (以下、「当事務局」といいます。)は、EngineerBlogs.map!（以下、「本サービス」といいます。）における利用者情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。
        %br/
        本サービスをご利用前に本ポリシーをご確認ください。
      %p.policy__main__contents--title 1.（用語の定義）
      %p.policy__main__contents--text
        ⑴「利用者」とは、本サービスを利用する一切の個人をいいます。
        %br/
        %br/
        ⑵「利用者情報」とは、個人情報（個人情報の保護に関する法第２条第１項により定義された「個人情報」をいい、以下同様とします。）、利用者の通信サービス上の行動履歴その他利用者の情報端末において生成又は蓄積された情報であって、本ポリシーに基づき当事務局が収集するものをいいます。
        %br/
        %br/
        ⑶「連携サービス」とは、Facebook、Twitter、GitHubなど、本サービスが連携するサービスをいいます。
      %p.policy__main__contents--title 2.（本サービスで収集する利用者情報及び利用目的）
      %p.policy__main__contents--text
      %ol
        %li
          当事務局は、利用者が会員登録をする際に、次の情報を入力フォームへの入力、または連携サービスとの連携を通じて提供していただきます。
          %ol
            %li
              メールアドレス
            %li
              パスワード
            %li
              連携サービスに登録している氏名・性別・生年月日・プロフィール画像等の情報
        %li
          当事務局は、本サービスにおいて、利用者のアクセス状況や本サービスの利用方法に関する情報その他の利用端末に蓄積される情報を収集する場合があります。この情報には、以下の情報が含まれます。
          %ol
            %li
              アクセスログ情報
            %li
              Cookie
      %p.policy__main__contents--title 3.（利用目的）
      %p.policy__main__contents--text
      %ol
        %li
          以当事務局は、利用者情報を、利用者本人の同意がない限り、利用目的の達成に必要な範囲を超えて利用しません。
        %li
          当事務局は、利用者情報を下記の目的の範囲内で適正に取り扱います。
          %br/
          %br/
          %ul
            %li
              利用者の識別のため
            %li
              利用者登録、ご本人様確認等本サービスを実施するうえで必要な運用のため
            %li
              本サービスに関するご案内、お問合せ等への対応のため
            %li
              本サービスの停止・中止・契約の解除等、本サービスに関する通知・連絡を行うため
            %li
              本サービスの利用規約に違反する行為に対応するため
            %li
              紛争への対応のため
            %li
              ターゲティング広告の配信のため
            %li
              当事務局サービスに関する統計情報（個人と結びつきが排除された統計上の情報）を作成するため
            %li
              サービス等の品質向上のため
            %li
              新サービス又は新機能の開発や研究に利用するため
            %li
              サービス等のご利用状況等の調査のため
      %p.policy__main__contents--title 4.（利用目的の変更）
      %p.policy__main__contents--text
        当事務局は、前条の利用目的を、変更前の利用目的と関連性を有すると合理的に認められる範囲内において変更することがあり、変更した場合には、当事務局ウェブサイトにおいて、利用者に告知します。
      %p.policy__main__contents--title 5.（利用者情報の取得）
      %p.policy__main__contents--text
        当事務局は、偽りその他不正の手段によらず、適正に利用者情報を取得します。
      %p.policy__main__contents--title 6.（安全管理）
      %p.policy__main__contents--text
      %ol
        %li
          当事務局は、利用者情報の漏洩、滅失又は毀損の防止その他の利用者情報の安全管理のために必要かつ適切な措置を講じます。
        %li
          当事務局は、利用者情報の取扱いの全部又は一部を第三者に委託する場合は、当該第三者との間で本ポリシーに準じる内容の秘密保持契約等をあらかじめ締結し、当該第三者において利用者情報の安全管理が図られるよう、必要かつ適切な監督を行います。
      %p.policy__main__contents--title 7.（Cookieその他の技術の利用）
      %p.policy__main__contents--text
        当事務局は、本サービスのウェブサイトにおいて、「Cookie（クッキー）」と呼ばれる技術を使用しているページがあります。Cookieとは、利用者のコンピュータを識別する技術です。Cookieの技術により、表示すべき事項を利用者のコンピュータ毎に変えたり、利用者の入力事項を保存できたりするため、利用者は、カスタマイズされたサービスの提供を受けることができます。また、同技術により、当事務局は、ウェブページの利用者数や利用状況を把握し、サービスの改善を図るために利用しております。
      %p.policy__main__contents--title 8.（情報収集モジュール）
      %p.policy__main__contents--text
      %ol
        %li
          本サービスには、利用者情報を解析するため、以下の情報収集モジュールが組み込まれています。
          %br/
          %a{:href => "https://analytics.google.com", :target => "blank"}
            Google Analytics
        %li
          これに伴い収集された情報は、情報収集モジュールの提供者の定める規定に基づき管理されます（詳細については、各情報収集モジュール提供者の規定等をご参照ください）。
      %p.policy__main__contents--title 9.（利用者情報の第三者提供）
      %p.policy__main__contents--text
      %ol
        %li
          当事務局は、利用者情報のうち、個人情報については、個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、利用者の承諾がない限り、第三者に提供することはありません。
        %li
          利用者情報の提供に当たって、個人情報保護法その他の法令が定める手続きを遵守するものとします。
        %li
          当事務局は、個人情報を用いて、個人との結びつきを排除した統計データを作成し、当該統計データを利用（第三者への提供を含む。）する場合があります。
      %p.policy__main__contents--title 11.（お問い合わせ）
      %p.policy__main__contents--text
        当事務局の利用者情報の取扱いに関するご意見、ご質問、苦情のお申出その他利用者情報の取扱いに関する事項は、当事務局ウェブサイトのお問い合わせよりメールでお問い合わせください。
        %br/
        %br/
        EngineerBlogs.map!運営事務局
        %br/
        個人情報保護管理者 宛
        %br/
        連絡先：xxx@gmail.com
      %p.policy__main__contents--title 12.（組織・体制）
      %p.policy__main__contents--text
        当事務局は、利用者情報の適正な管理及び継続的な改善を実施するために適切な組織・管理体制を整えます。
      %p.policy__main__contents--title 13.（本ポリシーの変更)
      %p.policy__main__contents--text
      %ol
        %li
          当事務局は、必要に応じて、利用者の事前の承諾を得ることなく本ポリシーを変更することがあります。但し、法令上利用者の同意が必要となるような内容の変更を行うときは、当事務局が定める方法により、利用者の同意を取得するものとします。
        %li
          本ポリシーを変更した場合には、当事務局のウェブサイト上又は本サービス上で告知を行います。
        %li
          変更後の本ポリシーについては、前項の告知時に、効力が発生するものとします。
      %p.policy__main__contents--title 14.（その他）
      %p.policy__main__contents--text
        当事務局が提供するサービスは、当事務局が管理するサービス以外のサービスへのリンクを含む場合があり、これら外部サービスにおける内容や利用者情報の保護については、当該外部サービスのプライバシーポリシーをご確認ください。
        %br/
        %br/
        【2020年6月1日制定】
