html {
  background-color: #F6F6F4;
}

.body-cover {
  display: none;
  background: #000;
  opacity: 0.6;
  width: 100%;
  height: 500vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
}

.main {
  height: 100%;
  padding: 20px 20px 0;
  border-bottom:  1px solid #ddd;
  &__index {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    &__list {
      width: 45%;
      padding: 20px 20px 0;
      margin: 10px;
      display: flex;
      flex-direction: column;

      @include mq(md) {
        width: 100%;
      }
      @include mq(sm) {
        width: 100%;
        margin: 0;
        padding: 0;
      }

      &--category {
        width: 50%;
        margin: 0 auto 15px;
        // margin-bottom: 15px;
        font-size: 30px;
        text-align: center;
        border-bottom: 1px solid #DDDDDD;

        @include mq(sm) {
          font-size: 20px;
        }
      }
      &--title {
        font-size: 15px;
        margin-top: 10px;
        text-align: start;
        &--rank {
          font-weight: bold;
        }
      }
      &--tag {
        font-size: 3px;
        display: -webkit-inline-box;
        &--partial {
          display: inline-block;
          background-color: rgb(218, 223, 230);
          margin-right: 3px;
          margin-bottom: 3px;
          padding: 3px 5px;
          border-radius: 8px;
          cursor: pointer;
          &--search {
            font-size: 10px;
          }
        }
      }
      &--tag > a {
        display: -webkit-box;
        display: block;
      }
      &--function {
        display: flex;
        border-bottom: 1px solid #DDDDDD;
      }
      &--function:last-child {
        border-bottom: none;
      }
    }
  }
}

.tags-icon {
  color: rgb(164, 174, 190);
  font-size: 12px;
  margin: 0 2px;
}

.footer {
  height: 100px;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  &__copyright {
    margin-top: 20px;
    font-size: 15px;
  }
}

.blog {
  padding: 90px 20px 20px;
  display: flex;

  @include mq(md) {
    flex-direction: column;
  }
  @include mq(sm) {
    padding: 80px 0 0;
  }
  &__left {
    width: 50%;

    @include mq(md) {
      width: 100%;
    }
    &--container {
      width: 80%;
      margin: 0 auto 10px;
      padding: 20px;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 5px;

      @include mq(md) {
        width: 100%;
      }
    }
    &__title {
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid #DDDDDD;
    }
    &__body {
      margin: 10px 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #DDDDDD;
      &--text {
        font-size: 15px;
      }
    }
    &--edit-container {
      display: flex;
      justify-content: space-between;
    }
    &__person {
      margin-bottom: 5px;
      display: flex;
      flex-direction: column;
      &--owner {
        font-size: 15px;
        text-decoration: none;
        display: inline-block;
      }
    }
    &__edit {
      &--each {
        color: #999999;
      }
    }
  }
  &__review {
    width: 80%;
    height: 375px;
    margin: 0 auto;
    padding-top: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;

    @include mq(md) {
      width: 100%;
      margin-bottom: 10px;
    }
    &__title {
      width: 35%;
      text-align: center;
      margin: 0 auto;
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid #DDDDDD;

      @include mq(sm) {
        width: 70%;
      }
    }
    &__form {
      width: 100%;
      margin-top: 10px;
      &--label {
        margin-left: 10%;

        @include mq(sm) {
          margin-left: 3%;
        }
      }
      &--input {
        margin: 0 auto;
        width: 80%;

        @include mq(sm) {
          width: 95%;
        }
      }
      &--body {
        width: 100%;
        padding: 5px 10px;
        background-color: white;
        border-radius: 3px;
        border: 1px solid #A6A6A6;
      }
      &--btn {
        width: 30%;
        height: 40px;
        margin: 0 auto;
        // margin-left: 40%;
        display: block;
        border-radius: 5%;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        background: rgb(25, 69, 121);
        color: #ffffff;
        line-height: 1em;
        opacity: 1;
        transition: .3s;
        cursor: pointer;
      }
    }
  }
  &__right {
    width: 40%;
    padding: 0 20px 20px;
    overflow: scroll;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;

    @include mq(md) {
      width: 100%;
    }
    &__title {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin: 20px 0 10px;
      border-bottom: 1px solid #DDDDDD;
    }
    &__review {
      width: 100%;
      margin-bottom: 10px;
      &__top {
        &--title {
          font-size: 16px;
          margin-bottom: 5px;
          font-weight: bold;
        }
      }
      &__middle {
        &--body {
        font-size: 13px;
        }
      }
      &__bottom {
        display: flex;
        justify-content: space-between;
        margin: 5px 0 10px;
        border-bottom: 1px solid #DDDDDD;
        &--info {
          font-size: 12px;
          &--name {
            text-decoration: none;
            color: #999999;
          }
          &--date {
            color: #999999;
          }
          &--date:hover {
            text-decoration: none;
          }
        }
        &--link {
          &--edit {
            text-decoration: none;
            color: #999999;
          }
          &--delete {
            text-decoration: none;
            color: #999999;
          }
        }
      }
    }
  }
}

.pagination {
  text-align: center;
  span {
    font-size: 15px;
  }
}

.hidden--sm {
  @include mq(sm) {
    display: none;
  }
}