html {
  background-color: #F6F6F4;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 70px;
  background-color: #194578;
  position: fixed;
  z-index: 99;
}

.header {
  &__title {
    margin-left: 50px;
    a {
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
  }
  &__contents {
    margin-right: 20px;
    &__items {
      margin-right: 30px;
      color: white;
    }
  }
}

.top-image {
  padding-top: 70px;
  &__view {
    position: relative;
    &__content {
      height: 700px;
      width: 100%;
    }
    &__text {
      width: 100%;
      margin:0 auto;
      padding:0;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 80px;
      color: white;
      font-weight: bold;
      transform: translate(-50%,-50%);
    }
  }
}

.main {
  height: 100%;
  padding: 20px;
  border-bottom:  1px solid #ddd;
  &__index {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    &__list {
      width: calc(100% / 3);
      padding: 20px;
      margin: 10px;
      display: flex;
      flex-direction: column;
      &--category {
        margin-bottom: 15px;
        font-size: 30px;
        text-align: center;
      }
      &--title {
        font-size: 15px;
        margin-top: 10px;
        text-align: start;
        &--rank {
          font-weight: bold;
        }
      }
      &--tag {
        font-size: 3px;
        display: -webkit-inline-box;
        &--partial {
          display: inline-block;
          background-color: rgb(218, 223, 230);
          margin-right: 3px;
          margin-bottom: 3px;
          padding: 3px 5px;
          border-radius: 8px;
          cursor: pointer;
          &--search {
            font-size: 10px;
          }
        }
      }
      &--tag > a {
        display: -webkit-box;
        display: block;
      }
      &--function {
        display: flex;
      }
    }
  }
}

.tags-icon {
  color: rgb(164, 174, 190);
  font-size: 12px;
  margin: 0 2px;
}

.footer {
  height: 100px;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  &__copyright {
    margin-top: 20px;
    font-size: 15px;
  }
}

.blog {
  padding: 90px 20px 20px;
  display: flex;
  &__left {
    width: 50%;
    &--container {
      width: 80%;
      margin: 0 auto 5px;
      padding: 20px;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    &__title {
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid #DDDDDD;
    }
    &__body {
      margin: 10px 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #DDDDDD;
      &--text {
        font-size: 15px;
      }
    }
    &--edit-container {
      display: flex;
      justify-content: space-between;
    }
    &__person {
      margin-bottom: 5px;
      display: flex;
      flex-direction: column;
      &--owner {
        text-decoration: none;
        display: inline-block;
      }
    }
    &__edit {
      // margin-bottom: 10px;
      &--each {
        color: #999999;
        // display: inline-block;
        // width: 70px;
        // height: 35px;
        // background-color: rgb(25, 69, 121);
        // color: white;
        // text-decoration: none;
        // text-align: center;
        // line-height: 35px;
      }
    }
  }
  &__review {
    width: 80%;
    height: 375px;
    margin: 0 auto 25px;
    padding-top: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    &__title {
      width: 35%;
      text-align: center;
      margin: 0 auto;
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid #DDDDDD;
    }
    &__form {
      width: 100%;
      margin-top: 10px;
      &--label {
        margin-left: 10%;
      }
      &--input {
        margin: 0 auto;
        width: 80%;
      }
      &--body {
        width: 100%;
        padding: 5px 10px;
        background-color: white;
        border-radius: 3px;
        border: 1px solid #A6A6A6;
      }
      &--btn {
        width: 30%;
        height: 40px;
        margin: 0 auto;
        // margin-left: 40%;
        display: block;
        border-radius: 5%;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        background: rgb(25, 69, 121);
        color: #ffffff;
        line-height: 1em;
        opacity: 1;
        transition: .3s;
        cursor: pointer;
      }
    }
  }
  &__right {
    width: 40%;
    height: 650px;
    padding: 0 20px 20px;
    overflow: scroll;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    &__title {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin: 10px 0;
    }
    &__review {
      width: 100%;
      margin-bottom: 10px;
      &__top {
        &--title {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }
      &__middle {
        &--body {
        font-size: 13px;
        }
      }
      &__bottom {
        display: flex;
        justify-content: space-between;
        margin: 5px 0 10px;
        border-bottom: 1px solid #DDDDDD;
        &--info {
          font-size: 12px;
          &--name {
            text-decoration: none;
            color: #999999;
          }
          &--date {
            color: #999999;
          }
          &--date:hover {
            text-decoration: none;
          }
        }
        &--link {
          &--edit {
            text-decoration: none;
            color: #999999;
          }
          &--delete {
            text-decoration: none;
            color: #999999;
          }
        }
      }
    }
  }
}

.pagination {
  text-align: center;
  span {
    font-size: 15px;
  }
}