.notification {
  .notice {
    background-color: #38AEF0;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  
  .alert {
    background-color: #F35500;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
}