.footer {
  text-align: center;
  padding-top: 30px;
  &__top {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @include mq(sm) {
      flex-direction: column;
    }
    & > a {
      font-size: 14px;
      display: inline-block;
      margin: 0 50px;
    }
  }
  &__bottom {
    margin: 10px;
    &__copyright {
      font-size: 16px;
    }
  }
}

.policy, .about{
  padding-top: 70px;
  &__main {
    width: 60%;
    height: 100%;
    margin: 20px auto;
    padding: 40px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;

    @include mq(md) {
      width: 100%;
      margin-top: 10px;
      padding: 5%;
    }
    &__title {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      font-size: 32px;
      border-bottom: 1px solid #DDDDDD;

      @include mq(sm) {
        width: 70%;
        font-size: 20px;
      }
    }
    &__contents {
      line-height: 32px;
      &--top {
        margin: 50px 0;
        
        @include mq(sm) {
          font-size: 14px;
          margin: 30px 0;
        }
      }
      &--title {
        font-size: 24px;
        font-weight: bold;
        margin: 15px 0;
      }
      &--text {
        @include mq(sm) {
          font-size: 14px;
        }
      }
    }
  }
}

.contact {
  padding-top: 70px;
  text-align: center;
}

iframe {
  @include mq(sm) {
    width: 320px;
  }
}