.footer {
  text-align: center;
  padding-top: 30px;
  &__top {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @include mq(sm) {
      flex-direction: column;
    }
    & > a {
      font-size: 14px;
      display: inline-block;
      margin: 0 50px;
    }
  }
  &__bottom {
    margin: 10px;
    &__copyright {
      font-size: 16px;
    }
  }
}

.policy, .about{
  padding-top: 70px;
  &__main {
    width: 60%;
    height: 100%;
    margin: 20px auto;
    padding: 40px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    &__title {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      font-size: 32px;
      border-bottom: 1px solid #DDDDDD;
    }
    &__contents {
      line-height: 32px;
      &--top {
        margin: 50px 0;
      }
      &--title {
        font-size: 24px;
        font-weight: bold;
        margin: 15px 0;
      }
    }
  }
}