.like-icon:hover{
  text-decoration: none;
}

.like {
  &-icon{
  margin-right: 5px;
    &__link {
      color: #FFD550;
      &-yellow {
        color: #FFD550;
      }
    }
  }
  &-count {
    line-height: 27px;
  }
}