#tag-form {
  width: 100%;
  padding: 10px;
}

.search {
  padding-top: 70px;
  display: flex;
  &__left {
    height: 550px;
    width: 30%;
    margin: 20px auto 0;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    &__form {
      width: 100%;
      margin-bottom: 10px;
      &--label {
        text-align: start;
        margin-left: 15%;
      }
      &--field {
        &--title {
          @include search-form;
        }
        &--body {
          @include search-form;
        }
        &--tag {
          @include search-form;
        }
      }
      &--result {
        width: 70%;
      }
      &--tag--pushed {
        // width: 50%;
        margin: 0 auto;
        margin-left: 15%;
      }
    }
    &__sort {
      margin: 20px 0;
      width: 100%;
      &--tab {
        height: 30px;
        width: 70%;
        font-size: 15px;
      }
    }
    &__action--btn {
      width: 70%;
      height: 35px;
      text-align: center;
      font-size: 16px;
      color: white;
      background-color: #194578;
    }
  }
  &__right {
    height: 100vh;
    width: 60%;
    padding: 10px 20px 20px;
    overflow: scroll;
    &__index--each {
      margin: 10px 0;
      border-bottom: 1px solid #DDDDDD;
    }
  }
}