.search {
  padding-top: 70px;
  display: flex;
  &__left {
    height: 100vh;
    width: 33%;
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    &__form {
      width: 100%;
      margin-bottom: 10px;
      &--field {
        &--title {
          @include search-form;
        }
        &--body {
          @include search-form;
        }
        &--tag {
          @include search-form;
        }
      }
    }
    &__sort {
      margin: 20px 0;
      width: 100%;
      &--tab {
        height: 30px;
        width: 70%;
        font-size: 15px;
      }
    }
    &__action--btn {
      width: 70%;
      height: 30px;
      text-align: center;
      background-color: #F8F8F8;
    }
  }
  &__right {
    height: 100vh;
    width: 67%;
    padding: 10px 20px 20px;
    overflow: scroll;
    &__index--each {
      margin: 10px 0;
      border-bottom: 1px solid #DDDDDD;
    }
  }
}