%p.main__index__list--function--like
  - if user_signed_in?
    - if blog.like_by?(current_user)
      お気に入り解除：
      = icon("far", "thumbs-up", class: "icons__btn__edit")
      %i.far.fa-heart
      = link_to blog.like_blogs.count, like_blog_path(blog), method: :delete
    - else
      お気に入り登録：
      = link_to blog.like_blogs.count, like_blogs_path(blog), method: :post
  - else
    お気に入り：
    = blog.like_blogs.count