@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


@mixin search-form {
  width: 70%;
  height: 40px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #A6A6A6;
  padding: 10px;
}