%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name: "viewport"}
%meta{:content => "nofollow", :name => "robots"}

%link{media: 'handheld', rel: 'alternate', href: request.original_url}/

- set_meta_tags twitter: { card: "summary", site: "EngineerBlogs.Map!" }
= display_meta_tags default_meta_tags